aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
astroid==3.3.11
async-timeout==5.0.1
asyncio==3.4.3
asyncpg==0.30.0
attrs==25.3.0
beautifulsoup4==4.13.4
bs4==0.0.2
cffi==1.17.1
colorama==0.4.6
cryptography==45.0.5
dill==0.4.0
discord.py==2.5.2
dotenv==0.9.9
frozenlist==1.7.0
idna==3.10
isort==6.0.1
lxml==6.0.0
mccabe==0.7.0
multidict==6.6.3
platformdirs==4.3.8
propcache==0.3.2
pycparser==2.22
PyJWT==2.10.1
pylint==3.3.7
PyNaCl==1.5.0
python-dotenv==1.1.1
redis==6.2.0
selectolax==0.3.32
soupsieve==2.7
style==1.1.6
tomlkit==0.13.3
typing_extensions==4.14.1
yarl==1.20.1
